[Unit]
Description=Whirlpool API Celery worker
After=redis-server.service
Requires=redis-server.service

[Service]
Type=simple
User=whirlpool
Group=whirlpool
WorkingDirectory=/opt/whirlpool/api
EnvironmentFile=/etc/whirlpool/api.env
ExecStart=/opt/whirlpool/api/.venv/bin/celery -A mod.tasks.worker.celery_app worker -Q default,celery --loglevel=info
Restart=on-failure

[Install]
WantedBy=multi-user.target
