# AWS credentials
AWS_PROFILE=whirlpool-pdi-infra
AWS_REGION=ap-south-1
AWS_DEFAULT_REGION=ap-south-1

# S3 bucket used by Pulumi for state
STATE_BUCKET=scopt-pulumi-state-whirlpool-pdi-prod

# Pulumi config passphrase
PULUMI_CONFIG_PASSPHRASE=

# Pulumi stack name
PULUMI_STACK=prod

# App/project metadata
PROJECT_NAME=whirlpool-pdi
ENVIRONMENT=prod
CUSTOMER=whirlpool
OWNER=scoptanalytics
DOMAIN_NAME=whirlpool-pdi-prod.scoptanalytics.in

# Database settings
DB_NAME=whirlpool_pdi
DB_USERNAME=pdi_admin
DB_PASSWORD=

# Instance sizes
APP_INSTANCE_TYPE=t4g.small
VPN_INSTANCE_TYPE=t4g.micro
RDS_INSTANCE_CLASS=db.t4g.medium