APP_ENV=local
APP_DEBUG=true
APP_ADDR=:8080
APP_DB_PATH=./data/vpn_provisioner.sqlite
APP_ADMIN_API_KEY=

WG_BACKEND=docker
WG_DOCKER_CONTAINER=whirlpool-wireguard-mock
WG_INTERFACE=wg0
WG_SERVER_ENDPOINT=whirlpool-pdi-vpn.scoptanalytics.in:51820
WG_SERVER_VPN_IP=10.44.0.1
WG_CLIENT_DNS=10.44.0.1
WG_CLIENT_ALLOWED_IPS="10.20.0.0/16, 10.44.0.0/24"
WG_DEVICE_START_IP=10.44.0.11
WG_DEVICE_END_IP=10.44.0.200