VITE_API_BASE_URL=http://localhost:8000
VITE_APP_BUILD=0.0.1
VITE_APP_TITLE=Whirlpool Insights
VITE_DEFAULT_EMAIL=
VITE_DEFAULT_PASSWORD=
VITE_PROD_URL=https://whirlpool-pdi-prod.scoptanalytics.in
REGISTRY_TOKEN=
