# PostgreSQL Database
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
DB_PORT=5432

# [dev, prod]
APP_ENV=dev

# Logging
LOG_LEVEL=INFO

# JWT Secret
JWT_SECRET=

# Maximum inspection distance from warehouse
MAX_INSPECTION_DISTANCE_KM_FROM_WAREHOUSE=5

# Media base URL
MEDIA_BASE_URL=